<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="css/battle.css">
</head>
<body>
    
    <div class="container">

        <div class="top">

            <div class="user">
                <img src="images/user.png" alt="">
                <p>Radwan Gaber</p>
            </div>

            <p id="vers">ضد</p>

            <div class="user">
                <img src="images/user.png" alt="">
                <p>Radwan Gaber</p>
            </div>

        </div>

        <div class="text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit possimus ea corporis illum nobis accusantium dolorum, repellendus error, dolores velit, commodi laudantium. Dignissimos saepe voluptate eaque recusandae velit nihil ea placeat quisquam, fugiat amet laborum asperiores, minima distinctio! Molestiae consequuntur ducimus fuga ratione itaque nostrum cum facere, officiis odit, dolorum adipisci blanditiis. Repudiandae, reprehenderit. Aperiam aliquam, nisi sapiente consequuntur incidunt a eaque id inventore tenetur asperiores necessitatibus hic voluptatum atque, ipsa perferendis culpa itaque deleniti, facilis dignissimos! Minus sit magnam, quod natus illum optio culpa. Impedit repellat nemo voluptate recusandae, facere nesciunt vero voluptatem ducimus cupiditate error, inventore nam quam!</p>
        </div>


        <div class="text">

            <input type="text" placeholder="أكتب هنا">
            <p class="val">0/1000</p>
        </div>

    </div>


    <script>

        let max_char_len = parseInt("100");
        var val_input = document.querySelector('.val');
        var text_input = document.querySelector('input');
        text_input.focus()

        function setScore (score_val) {

            val_input.textContent = `${score_val}/${max_char_len}` 
        }

        
        var text = document.querySelector('.text p').textContent;
        let current_len = 0;

        setScore(0)


        text_input.onkeyup = function(key){
            var enteredChar = key.key;
            
            if (enteredChar == text[current_len]){
                // send real-time action here
                current_len++
                setScore(current_len)
                
                if (enteredChar == ' '){
                    text_input.value = "";
                }

            }

            

        }



    </script>

</body>
</html>