{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="{% static 'css/battle.css' %}">
</head>
<body>
    
    <style>
        .overlay { 
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #fff;
            color: rgb(27, 159, 231);
            font-family: "Cairo",sans-serif;
        }
    </style>

    {% if players.friend is None %}
        <div class="overlay">
                <h1>  ..الرجاء انتظار لتحديدالاعبين</h1>
        </div>
    {% endif %}

    <div class="container">

        <div class="top">

            <div class="user">
                <img src="{{main_url}}{{players.me.picture}}" alt="">
                <p>{{players.me.full_name}}</p>
            </div>

            <p id="vers">ضد</p>

            <div class="user">
                <img id="frined_picture" src="{{main_url}}{{players.friend.picture}}" alt="">
                <p id="friend_name">{{players.friend.full_name}}</p>
            </div>

        </div>

        <div class="text">
            <p>{{text}}</p>
        </div>


        <div class="text">

            <input type="text" placeholder="أكتب هنا">
            <p class="val"></p>
        </div>

    </div>


    <script>

        let max_char_len = `{{text}}`.length;
        var val_input = document.querySelector('.val');
        var text_input = document.querySelector('input');
        text_input.focus()
        

        
        const token = document.cookie.split('=')[2];
        var socket = new WebSocket('ws://127.0.0.1:4444/ws/battle/get/{{battle_id}}/?token='+token);
        var relaod = true;

        
        socket.onmessage = function(e){
            var respones = JSON.parse(e.data);
            
            if (respones.type == 'win'){
                socket.close()
                alert(respones.text)
                window.location.href = '/';
            }
            
            if (respones.start){
                
                var friend = respones.friend;
                
                console.log(friend)
                var friend_pic_ele = document.getElementById('frined_picture');
                var friend_name = document.getElementById('friend_name');
                
                
                friend_name.textContent = friend.full_name;
                friend_pic_ele.src = `{{main_url}}${friend.picture}`;
                
                if (relaod){
                    window.location.reload()
                    relaod = false;
                }
                
            
            }
            
            
        }

        function setScore (score_val) {

            val_input.textContent = `${score_val}/${max_char_len}` 
        }

        
        var text = document.querySelector('.text p').textContent;
        let current_len = 0;

        setScore(0)


        text_input.onkeyup = function(key){
            var enteredChar = key.key;
            
            
            if (enteredChar == text[current_len]){
                
                current_len++
                setScore(current_len)
                
                
                
                socket.send(JSON.stringify({
                    type:"char",
                    char:enteredChar
                }))


                if (enteredChar == ' '){
                    text_input.value = "";
                };
                
            }
            
            

        }



    </script>

</body>
</html>